<%- include("header"); -%>

<h2>This is an about page.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci enim atque maiores impedit eligendi! Rem eius nostrum nulla ipsum quod tenetur accusamus id alias dolore quos, inventore, soluta odit minima!</p>

<%- include("footer"); -%>